/* CSS Document */


/* 
*
*
[Table of contents]
*
*
*

    font-metro / @import url
	reset / html
	general / body
	space / .space-single
	button / button
	devider / .devider
	section / section
	no select / .noselect
	wrapper / .content-wrapper
	whitepage / .whitepage
	preloader / .preloader
	navigation / .navbar-default
	home / #home
	background-img-metro / .mainbg
	about / #about h3
	service / .services img
	history / .bl-res-centered
	btn services / #services-list li
	projects / #projects-wrap
	projects detail 1 / .projects-detail h2
	projects detail 2 / #projectsBig .item
	team / .team-wrapper
	contact / .contactbg
	footer / .subfooter
	totop / #totop
	Blog & article / #content
	Blog comment / #blog-comment
	owl slider home / #owl-slider-home .item
	general popup / .white-popup-block
	
*
*
*/

/* font-metro */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
button,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: none;
  list-style: none;
}

/** general **/
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.8em;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #fff;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1 {
  font-size: 30pt;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-size: 22pt;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-size: 20pt;
  font-weight: 300;
  line-height: normal;
}

h4 {
  font-size: 18pt;
  font-weight: 600;
  line-height: normal;
}

h5 {
  font-size: 14pt;
  font-weight: 600;
  line-height: normal;
}

h6 {
  font-size: 12pt;
  font-weight: 600;
  line-height: normal;
}

p {
  font-size: 13px;
  letter-spacing: .7px;
}

em {
  font-style: italic;
}

a,
a:visited,
a:hover,
a:active,
a:link {
  color: inherit;
  text-decoration: none;
  outline: 0;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link-class {
  display: block;
  text-decoration: none;
}

/* space */
.space-single {
  width: 100%;
  height: 40px;
  display: block;
  clear: both;
}

.space-double {
  width: 100%;
  height: 80px;
  display: block;
  clear: both;
}

.space-half {
  width: 100%;
  height: 20px;
  display: block;
  clear: both;
}

hr {
  display: block;
  clear: both;
  border-top: solid 1px #ddd;
  margin: 40px 0 40px 0;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.left {
  text-align: left;
  float: left;
  line-height: inherit;
}

.right {
  text-align: right;
  float: right;
  line-height: inherit;
}

.color {
  color: #ff0000;
}

.min-left {
  margin-left: -15px;
}

.min-right {
  margin-right: -15px;
}

/* button-metro */
button {
  border: 1px solid #dadada;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button:hover {
  border: none;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-home {
  display: inline-block;
  width: 198px;
  height: 40px;
  font-size: 10pt;
  font-weight: 600;
  letter-spacing: 1pt;
  font-style: normal;
  text-align: center;
  line-height: 38px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background: #111;
  outline: none;
  text-shadow: none;
  margin: 5px auto;
  margin-left: 0px;
  padding: 0;
  box-shadow: 3px 8px 12px rgba(0, 0, 0, .3);
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btn-content {
  display: block;
  width: 198px;
  height: 40px;
  font-size: 14pt;
  text-align: center;
  letter-spacing: 2px;
  line-height: 38px;
  color: #fff;
  /* Warna teks putih */
  font-weight: bold;
  /* Tebal */
  border: 2px solid #fff;
  /* Border 2px solid putih */
  background: rgba(17, 17, 17, 0.5);
  /* Background transparan */
  outline: none;
  text-shadow: none;
  margin-left: 40px;
  margin-top: 20px;
  box-shadow: 3px 8px 12px rgba(0, 0, 0, .3);
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btn-home:hover,
.btn-content:hover {
  color: rgba(255, 69, 69, 0.781);
  border: 2px solid rgba(255, 69, 69, 0.781);
  box-shadow: 3px 8px 12px rgba(0, 0, 0, .3);
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btn-home-active {
  border: none;
  background: #008dff;
  display: inline-block;
  width: 198px;
  height: 40px;
  margin: 0 auto;
  font-size: 10pt;
  letter-spacing: 1pt;
  font-style: normal;
  text-align: center;
  line-height: 49px;
  color: #efefef;
  outline: none;
  text-shadow: none;
  margin: 20px 0 0 0;
  padding: 0;
  cursor: pointer;
}

.btn-home-active:hover {
  color: #efefef;
  background: rgba(23, 36, 52, 0.8);
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* devider */
.devider-metro {
  display: inline-block;
  border-top: 7px solid rgba(0, 0, 0, .6);
  width: 63px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.devider-cont {
  display: block;
  border-top: 4px solid #fff;
  width: 240px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.devider-widget {
  display: block;
  border-bottom: 2px solid #fff;
  margin-bottom: 30px;
  width: 60px;
  text-align: left;
}

/* section */
section {
  padding: 40px 60px 40px 60px;
}

.no-bottom {
  padding-bottom: 0 !important;
}

.no-top {
  padding-top: 0 !important;
}

.no-padding,
section.no-padding {
  padding: 0;
}

/* no select */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* wrapper */
.content-wrapper {
  overflow-x: hidden;
}

/* whitepage */
.whitepage {
  position: relative;
  width: 100%;
  height: auto;
  color: #606060;
  background: #fcfcfc;
}

.whitepage h1,
.whitepage h2,
.whitepage h3,
.whitepage h4,
.whitepage h5,
.whitepage h6 {
  color: #464646;
}

.whitepage h1 {
  font-weight: 600;
  letter-spacing: 2px;
}

.whitepage em {
  display: block;
  font-style: italic;
  margin-bottom: 20px;
}

.whitepage article {
  padding: 10px 60px 0 0;
}

.whitepage span {
  font-size: 18pt;
  color: #333;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mainpreloader {
  position: relative;
  width: auto;
  height: auto;
}

.mainpreloader img {
  display: block;
  margin: 0 auto;
  z-index: 999;
}

.mainpreloader span {
  display: block;
  font-size: 8pt;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin: 10px auto;
}

.bg-preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border: 1px solid #fff;
  z-index: 999;
}

.logo-preloader {
  -webkit-animation: fadeimg 1s infinite linear;
  animation: fadeimg 1s infinite linear;
  max-width: 150px;
}

@-webkit-keyframes fadeimg {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeimg {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* end preloader */

/* navigation */
.navbar-default {
  position: fixed;
  background: rgba(0, 0, 0, 0.534);
  top: 0px;
  border-bottom: 1px groove rgba(255, 255, 255, 0);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar-default {
  height: 75px;
}

.navbar-default.fullHeight {
  height: 100% !important;
}

.navbar-brand {
  position: fixed;
  top: 10px;
  padding-bottom: 10px;
  left: 25px;
  z-index: 2;
  max-width: 180px;
}

.navbar-brand img {
  width: 100%;
  height: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.scroll-link {
  cursor: pointer;
}

.sticky-nav.navbar-default {
  background: #111111;
  top: 0px;
  border-bottom: 1px groove rgba(255, 255, 255, 0);
  box-shadow: 5px 4px 3px rgba(0, 0, 0, .1);
  -webkit-transition: top .3s ease-in-out;
  -moz-transition: top .3s ease-in-out;
  transition: top .3s ease-in-out;
}

.sticky-nav .navbar-brand {
  top: 10px;
}

.sticky-nav nav {
  top: 0px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* menu nav */
nav {
  position: relative;
  float: right;
  top: 0px;
  right: 0px;
  color: #efefef;
  z-index: 999;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
  margin: 0 15px 0 15px;
}

nav ul li.btn {
  font-size: 11pt;
  display: inline-block;
  padding: 5px 2px 5px 20px;
  margin-top: -3px;
  background: #05080a;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

nav ul li.btn a {
  padding: 0px 0px 0px 0px;
  letter-spacing: 1px;
  line-height: 30px;
}

nav ul li.btn a:hover {
  color: #606060;
}

nav ul li.btn:hover {
  color: #606060;
  background: #ebebeb;
}

nav a {
  display: block;
  padding: 10px 0px 10px 10px;
  color: #fff;
  font-size: 13px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 60px;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

nav a:hover::before {
  display: inline-block;
  position: absolute;
  max-width: 35px;
  color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

nav a::before {
  position: absolute;
  overflow: hidden;
  max-width: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
  white-space: nowrap;
}

nav a.actived {
  color: #999;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 75px;
  color: #efefef;
}

nav ul li:hover>ul {
  display: inherit;
  -webkit-animation-name: animfadeInUpmenu;
  animation-name: animfadeInUpmenu;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

nav ul ul li {
  width: 230px;
  float: none;
  margin-left: -5px;
  display: list-item;
  background: #111111;
  border-bottom: 1px groove rgba(255, 255, 255, .1);
  position: relative;
}

nav ul ul li a {
  font-size: 8pt;
  line-height: 20px;
  padding-left: 17px;
}

nav ul ul li a:hover {
  color: #fff;
  background: #05080a;
}

nav ul ul li a.active {
  color: #fff;
  background: #05080a;
}

nav ul ul li:last-child {
  border-bottom: none;
}

nav ul ul ul li {
  position: relative;
  top: -70px;
  left: 235px;
}

li>a:after {
  content: '';
  margin-left: 20px;
}

li>a:only-child:after {
  content: '';
}

/* home */
#home {
  position: relative;
  color: #fff;
  background: #999;
}

#home h1 {
  font-size: 54pt;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 2px;
}

#home h1 em {
  font-style: italic;
}

#home h3 {
  font-size: 34pt;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 5px 0 5px 0;
}

#home p {
  font-size: 10pt;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-top: 10px;
}

.overlay-home {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.overlay-page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #00000085;
  /* background: url('../img/pattern.png'); */
}

.overlay-main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.v-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* background-img-metro */
.mainbg {
  position: fixed;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  background: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.imgbg {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgslider {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  background: #000;
}

.bgslider img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.bg-metro {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
}

/* blue-metro */
.blue-home {
  position: absolute;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0);
  bottom: 0px;
  left: 0px;
}

.menuscroll {
  position: absolute;
  font-size: 7pt;
  bottom: 0px;
  left: 10px;
  letter-spacing: 4px;
  cursor: pointer;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}

.menuscroll:hover {
  color: #e3b546;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}

/* countdown */
#given_date {
  font-weight: 400;
  font-size: 32pt;
  background: none;
  border: none;
  color: #fff;
  text-align: left;
  margin-top: 30px;
}

#given_date span {
  font-weight: 300;
  font-size: 32pt;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
}

/* home end */


/* about */
#about h3 {
  font-size: 48pt;
  font-weight: 400;
}

#about h4 {
  font-size: 28pt;
  font-weight: 400;
}

#about em {
  display: block;
  font-style: italic;
}

.about {
  display: block;
  height: 100%;
  padding: 60px 20px 60px 20px;
}

.img-about h1,
.img-about p {
  color: #fff;
}

.img-about h1 {
  font-size: 34pt;
  font-weight: 600;
  letter-spacing: 2px;
}

.img-about p {
  max-width: 320px;
  margin: 0 auto;
}

.img-about .icon {
  display: block;
  font-size: 48pt;
  color: #fff;
}

#service-about {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.service-about {
  position: relative;
  display: inline-block;
  font-size: 9pt;
  font-weight: 400;
  letter-spacing: 1pt;
  text-transform: uppercase;
  width: 325px;
  height: 280px;
  margin: 0 10px auto;
}

.service-about h2 {
  font-size: 12pt;
  font-weight: 500;
  letter-spacing: normal;
  margin-top: 20px;
}

.service-about img {
  width: 100%;
  vertical-align: top;
}

.service-about .hovereffect {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.service-about .hovereffect .overlay {
  width: 100%;
  height: 2%;
  position: absolute;
  bottom: 40px;
  left: 0;
  background-color: rgba(255, 204, 0, 0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.service-about .hovereffect:hover .overlay {
  background-color: rgba(255, 204, 0, 1);
}

.about {
  display: block;
  min-height: 500px;
  height: 100%;
  padding: 15% 0 15% 0;
}

.about article {
  padding-right: 60px;
}

.img-about {
  display: block;
  min-height: 500px;
  height: 100%;
  padding: 15% 0 15% 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* filter about */
.filter-wraper {
  position: relative;
  margin: 0 auto;
}

#filters li.filt-serv {
  font-size: 12.3pt;
  color: #efefef;
  letter-spacing: normal;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#filters li.space {
  font-size: 11pt;
  display: inline-block;
  margin: 0 10px 0 10px;
  color: #c3c3c3;
}

#filters li.filt-serv:hover {
  color: #c3c3c3;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#filters li.selected {
  color: #c3c3c3;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}

.service img {
  margin-bottom: 20px;
}

.service h4 {
  font-size: 11pt;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
}

/* filter about end */
/* about end*/

/* team */
.team-wrapper {
  max-width: 350px;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-block;
  box-shadow: 5px 5px 2px rgba(23, 36, 52, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.team-wrapper img {
  overflow: hidden;
  margin-left: 0px;
}

.team-wrapper:hover {
  cursor: pointer;
  box-shadow: 5px 5px 2px rgba(23, 36, 52, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.team-des {
  padding: 20px 30px 20px 30px;
  color: #272727;
  background: #efefef70;
}

.team-des h3 {
  font-size: 18pt;
  font-weight: 400;
}

.team-des span {
  display: block;
  font-weight: 300;
  font-size: 10pt;
  margin: 0 0 10px 0;
}

.team-des .devider {
  display: block;
  border-top: 3px solid #464646;
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.team-des a {
  display: inline-block;
  margin: 20px 15px 10px 0;
  text-shadow: none;
  padding: 8px;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 16px;
  color: #464646;
  background: #efefef;
  border-color: #eceff3;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.team-des a:hover {
  color: #efefef;
  background: #ff6600;
  border-color: #eceff3;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* team end */

/* brand */
.brand-page {
  position: relative;
  width: 100%;
  height: auto;
  padding: 60px 0 60px 0;
}

.brand-page h1 {
  font-weight: 500;
  text-transform: none;
}

#owl-brand .item {
  margin: 0 auto;
  text-align: center;
}

/* brand end */

/* service */
.bg-sevice {
  width: 100%;
  height: auto;
  background: url(../img/bg-sevice.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-serv {
  height: 100%;
  padding: 60px 5px 60px 5px;
  box-shadow: 5px 5px 2px rgba(23, 36, 52, 0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.main-serv h1 {
  font-size: 34pt;
  font-weight: 400;
  letter-spacing: .01em;
}

.main-serv p {
  max-width: 320px;
  margin: 0 auto;
}

.main-serv .icon {
  display: block;
  font-size: 48pt;
  color: #fff;
  margin-bottom: 10px;
}

/* service end */


/* history */
.bl-res-centered,
.bl-res-centered-last {
  position: relative;
  margin-bottom: 5px;
  padding-bottom: 60px;
  margin-left: -18px;
}

.bl-res-centered-last {
  padding-bottom: 0px;
}

.bl-res-centered:before,
.bl-res-centered:after {
  content: "";
  display: table;
}

.bl-res-centered-last:before,
.bl-res-centered-last:after {
  content: "";
  display: table;
}

.bl-res-centered:after {
  clear: both;
}

.bl-res-centered-last:after {
  clear: both;
}

.bl-res-centered:before,
.bl-res-centered:after {
  content: "";
  display: table;
}

.bl-res-centered-last:before,
.bl-res-centered-last:after {
  content: "";
  display: table;
}

.bl-res-centered:after {
  clear: both;
}

.bl-res-centered-last:after {
  clear: both;
}

.bl-res-centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, .1);
  top: 8px;
  bottom: 0px;
  margin-left: 5px;
  z-index: 0;
}

.bl-res-centered-last:before {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height: 0;
  background: rgba(255, 255, 255, .1);
  top: 8px;
  bottom: 0px;
  margin-left: 3px;
  z-index: 0;
}

.bl-res-icon {
  background: #ff6600;
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  float: left;
  z-index: 9;
}

.bl-res-centered .bl-res-entry .bl-res-entry-inner .bl-res-label,
.bl-res-centered-last .bl-res-entry .bl-res-entry-inner .bl-res-label {
  position: relative;
  margin-left: 30px;
}

.bl-res-label h6 {
  font-size: 14pt;
  font-weight: 400;
  margin-bottom: 15px;
  margin-bottom: 10px;
}

.bl-res-label p {
  font-style: italic;
  margin-bottom: 10px;
}

/* history end */


/* btn services */
#services-list li {
  background: rgba(0, 0, 0, .3);
  color: #efefef;
  cursor: pointer;
  border-bottom: 1px solid #444;
}

#services-list li:last-child {
  border-bottom: none;
}

#services-list li:hover {
  background: rgba(0, 0, 0, .8);
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#services-list li a {
  display: block;
  width: 100%;
  padding: 15px 20px 15px 20px;
}

#services-list li.active {
  background: rgba(0, 0, 0, .8);
  color: #fff;
}

.widget .download-brochure {
  background: url(../img/bg-widget.jpg) no-repeat;
  background-size: cover;
  padding: 60px 15px 60px 15px;
  text-align: center;
  border: none;
}

.download-brochure h3 {
  font-size: 11pt !important;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}

.btn-download {
  display: block;
  width: 188px;
  height: 35px;
  font-size: 9pt;
  font-weight: 500;
  text-align: center;
  line-height: 34px;
  letter-spacing: 1px;
  color: #fff;
  background: #ff6600;
  outline: none;
  text-shadow: none;
  margin: 0 auto;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-download:hover {
  color: #333;
  background: #fff;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* services end */


/* services */
.services img {
  margin-bottom: 30px;
  margin-bottom: 30px;
}

.services p em {
  display: block;
  margin-bottom: 15px;
}

.services h2 {
  font-size: 16pt;
  font-weight: 500;
  margin-bottom: 15px;
}

.services blockquote {
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.6em;
  color: #fff;
  background: rgba(0, 0, 0, .5);
  padding: 30px;
  margin: 30px 0 30px 0;
  border-left: 5px solid #ff6600;
}

/* services end */


/* projects */
#porto h3 {
  font-size: 48pt;
  font-weight: 400;
}

#porto h4 {
  font-size: 28pt;
  font-weight: 400;
}

#porto em {
  display: block;
  font-style: italic;
}

.no-gutter {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.no-gutter [class*='col-']:not(:first-child),
.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#projects-wrap {
  text-align: center;
  overflow: hidden;
}

.projects {
  position: relative;
  letter-spacing: 1pt;
  text-transform: uppercase;
  overflow: hidden;
  border: 0px solid rgba(0, 0, 0, 0);
}

.projects-grid {
  position: relative;
  letter-spacing: 1pt;
  text-transform: uppercase;
  overflow: hidden;
  border: 8px solid rgba(0, 0, 0, 0);
}

.projects:hover img,
.projects-grid:hover img {
  width: 100%;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.projects img,
.projects-grid img {
  width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.projects .hovereffect,
.projects-grid .hovereffect {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.projects .hovereffect .overlay,
.projects-grid .hovereffect .overlay {
  width: 100%;
  height: 120%;
  position: absolute;
  top: -30px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects .hovereffect:hover .overlay,
.projects-grid .hovereffect:hover .overlay {
  height: 100%;
  top: 0;
  opacity: 1;
  top: 0;
}

.projects .hovereffect .overlay h3,
.projects-grid .hovereffect .overlay h3 {
  font-size: 9pt;
  font-weight: 400;
  letter-spacing: 4px;
  color: #333;
  padding-top: 33%;
  height: 100%;
  background-color: rgba(255, 255, 255, .8);
}

/* filter controls */
#filter-porto {
  padding: 60px 8px 30px 8px;
}

#filter-porto li.filt-projects {
  font-size: 10pt;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#filter-porto li.filt-projects:last-child {
  float: right;
}

#filter-porto li.space {
  font-size: 11pt;
  display: inline-block;
  margin: 0 10px 0 10px;
}

#filter-porto li.filt-projects:hover {
  color: #ccc;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#filter-porto li.active {
  color: #ccc;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}

/******* projects detail 1 ******/
.projects-detail h2 {
  font-size: 16pt;
  font-weight: 500;
  margin-bottom: 15px;
}

.detaillist {
  margin: 0;
  padding: 0;
}

.detaillist h2 {
  margin-bottom: 10px;
}

.detaillist span {
  display: block;
  letter-spacing: .01em;
  line-height: 20pt;
}

.detaillist strong {
  font-weight: 500;
}



#detailpro .item img {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#news .item img {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  width: 100%;
  height: auto;
}

#owl-project .item {
  display: block;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

/******* projects detail 2 ******/
#projectsBig .item {
  margin: 0;
  padding: 0;
}

#projectsSmall .item {
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}

#projectsSmall .item img {
  width: 145px;
  height: auto;
  display: block;
  position: relative;
}

#projectsSmall .synced .item {
  opacity: 0.5;
}

/* button next prev */

.pro-btn {
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}

.pro-btn:hover {
  background: #999;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}

/* projects end */


/* navigation bottom */
.nav-bottom {
  width: 100%;
  height: 30px;
  margin-bottom: 50px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 999;
}

#opengal {
  color: #efefef;
  background: rgba(0, 0, 0, 0);
  padding: 2px 0 2px 0;
  text-decoration: none;
  width: 30px;
  height: 80px;
  background: #05080a;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 auto;
  -webkit-transition: all 0.2s cubic-bezier(.165, .84, .44, 1) 0s;
  transition: all 0.2s cubic-bezier(.165, .84, .44, 1) 0s;
}

.nav-bottom span {
  font-size: 11pt;
  font-weight: 300;
}

.nav-bottom i {
  display: block;
  font-size: 18pt;
  line-height: 11pt;
}

#opengal:hover {
  color: #fff;
  -webkit-transition: all 0.2s cubic-bezier(.165, .84, .44, 1) 0s;
  transition: all 0.2s cubic-bezier(.165, .84, .44, 1) 0s;
}

/* wrapper bottom */
.bottom-option {
  display: none;
  position: fixed;
  width: 100%;
  height: 325px;
  text-align: center;
  background: rgba(0, 0, 0, 0.95);
  bottom: 0;
  left: 0;
  z-index: 999;
}

.nav-bottom-close {
  cursor: pointer;
  text-align: center;
  margin: 5px 0 0 0;
}

.nav-bottom-close span {
  color: #efefef;
  font-size: 13pt;
  font-weight: 400;
  letter-spacing: 1px;
}

.nav-top-block {
  display: block;
  position: fixed;
  width: 100%;
  height: 110px;
  top: -110px;
  left: 0px;
  background: rgba(17, 17, 17, 1);
  z-index: 9;
  -webkit-transition: top 0.2s cubic-bezier(.165, .84, .44, 1) 0s;
  transition: top 0.2s cubic-bezier(.165, .84, .44, 1) 0s
}

.nav-block-show {
  top: 0px;
  -webkit-transition: top 0.2s cubic-bezier(.165, .84, .44, 1) 0s;
  transition: top 0.2s cubic-bezier(.165, .84, .44, 1) 0s
}

/* wrapper bottom end */


/* gallery home */
.gal-home {
  position: relative;
  letter-spacing: 1pt;
  overflow: hidden;
  border: 4px solid rgba(0, 0, 0, 0);
}

.gal-home:hover img {
  width: 100%;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gal-home img {
  width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.gal-home .hovereffect {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.gal-home .hovereffect .overlay {
  width: 90%;
  height: 90%;
  position: absolute;
  color: #fff;
  background-color: rgba(0, 27, 42, .4);
  margin: 5%;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gal-home .hovereffect:hover .overlay {
  bottom: -3%;
  left: 0;
  opacity: 1;
}

.gal-home .hovereffect .overlay h3 {
  font-size: 11pt !important;
  font-weight: 400 !important;
  letter-spacing: 1px;
  padding: 25% 0 0 0;
}

.gal-home .hovereffect .overlay p {
  font-size: 8pt !important;
  font-weight: 300;
  line-height: 11pt;
  letter-spacing: 3px;
  margin: 0 auto !important;
}

.gal-home .hovereffect .overlay .devider {
  display: block;
  margin: 10px auto;
  width: 188px;
  border-top: 1px solid #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gal-home .hovereffect:hover .overlay .devider {
  display: block;
  margin: 10px auto;
  width: 138px;
  border-top: 1px solid #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* gallery home end */


/* contact */
.contactbg {
  width: 100%;
  height: auto;
  background: #fff;
}

#map {
  width: 100%;
  height: 300px;
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
}

#contact {
  text-align: left;
  margin: 60px auto;
  margin-bottom: 0;
  padding: 0;
}

/* address */
.wrapaddres {
  color: #464646;
  background: #fff;
  height: 400px;
  padding: 25px 20px 25px 40px;
  line-height: 26pt;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
}

address span {
  display: block;
  border-bottom: solid 1px rgba(255, 255, 255, 0);
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-weight: 400 !important;
}

address span strong {
  font-weight: 500 !important;
  display: inline-block;
  width: 60px;
}

address span a {
  color: #eceff3;
  display: inline;
}

/* address end */

input[type="text"] {
  text-align: left;
  width: 220px;
  height: 50px;
  margin: 5px 0px 5px 0px;
  border: 0px;
  font-size: 9pt;
  font-weight: 400;
  letter-spacing: 0px;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}

input#name,
input#email {
  width: 333px;
}

input#name-contact,
input#email-contact,
textarea#message-contact {
  width: 100%;
}

textarea {
  text-align: left;
  outline: none;
  width: 670px;
  height: 100px;
  margin: 5px 0px 5px 0px;
  font-size: 9pt;
  border: 0px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #efefef;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.2s ease;
}

input[type="text"]:focus,
input[type="text"].focus,
textarea:focus,
textarea.focus,
input[type="email"]:focus,
input[type="email"].focus,
email:focus,
email.focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #efefef;
}

::-moz-placeholder {
  opacity: 1;
  color: #efefef;
}

/* firefox 19+ */
:-ms-input-placeholder {
  opacity: 1;
  color: #efefef;
}

/* ie */
input:-moz-placeholder {
  opacity: 1;
  color: #efefef;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-textarea-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.error {
  width: 100%;
  display: none;
  padding: 2px 10px 2px 10px;
  font-size: 11px;
  margin: 10px auto;
}

.success {
  width: 100%;
  display: none;
  padding: 5px 0px 2px 0px;
  font-size: 11px;
  margin: 10px auto;
}

.btn-contact {
  display: block;
  width: 180px;
  font-size: 10pt;
  font-weight: 700;
  text-align: center;
  line-height: 38px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid rgba(255, 255, 255, 0);
  background: #e5322d;
  outline: none;
  text-shadow: none;
  padding: 5px 18px 5px 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 15px;
  box-shadow: 3px 8px 12px rgba(0, 0, 0, .3);
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btn-contact:hover {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

/* contact end */


/* footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  font-weight: 400;
  /* background: #05080a; */
  color: #efefef;
  z-index: 999;
}

footer span {
  display: inline-block;
  font-size: 7.5pt;
  letter-spacing: .1em;
  padding: 5px 5px 5px 5px;
}

/* social-menu */
.social-menu a {
  display: inline-block;
  font-size: 7.5pt;
  letter-spacing: .2em;
  margin-right: 5px;
  padding: 5px 10px 5px 15px;
  cursor: pointer;
}

.social-menu a:hover::before,
.social-menu a:focus::before {
  display: inline-block;
  position: absolute;
  max-width: 30px;
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.social-menu a::before {
  position: absolute;
  overflow: hidden;
  max-width: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  content: attr(data-hover);
  -webkit-transition: max-width 0.5s;
  -moz-transition: max-width 0.5s;
  transition: max-width 0.5s;
  white-space: nowrap;
}

/* footer end */


/* totop */
#totop {
  display: none;
  width: 30px;
  height: 30px;
  background: #e4322c;
  line-height: 30px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  border-radius: 5%;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 9999;
}

#totop:hover {
  background: #111;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#totop span {
  font-size: 10pt;
  font-weight: 600;
  color: #fff;
}

/* totop end */


/* Blog & article */
#content {
  text-align: left;
}

article {
  margin-bottom: 0;
  margin-left: 40px;
  margin-right: 40px;
}

article .post-heading h3 {
  margin: 20px 0 -10px 0;
  font-size: 16pt;
  font-weight: 500;
  color: 606060;
}

article .post-heading h3 a:hover {
  text-decoration: none;
}

/* post meta */
.post-meta {
  background: #fcfcfc;
  border-top: none;
  text-align: center;
}

.post-meta .format {
  border-bottom: 1px solid #333333;
  padding: 10px 0 10px;
}

.post-meta i {
  margin: 0;
}

.post-meta .date {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0 10px;
}

.post-meta .date span {
  text-align: center;
  color: #efefef;
  font-size: 12px;
  font-weight: 500;
}

.post-meta .comments {
  padding: 10px 0 10px;
}

.post-meta .comments a {
  color: #efefef;
  font-size: 12px;
  font-weight: 500;
}

.post-meta .comments a:hover {
  text-decoration: none;
}

/* post format */
.post-image {
  margin-bottom: 20px;
}

ul.meta-post {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.meta-post li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;
}

ul.meta-post li a {
  float: left;
  font-size: 12px;
  font-weight: 500;
}

/* single post */
.bottom-article {
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0 10px 0;
  margin-top: 10px;
  margin-bottom: 30px;
}

.bottom-article a.btn {
  padding: 10px 20px 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.bottom-article a.btn:hover {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background: #ff6600;
}

/* pagination */
#pagination a {
  padding: 5px 10px;
}

#pagination .pagina-num {
  margin-right: 15px;
}

#pagination a:hover {
  background: #ff6600;
  text-decoration: none;
}

#pagination a.current {
  background: #ff6600;
  color: #fff;
  font-weight: 500;
}

/*  Aside, sidebar */
aside {
  position: relative;
  margin-bottom: 40px;
}

.sidebar-nav {
  float: left;
  width: 100%;
}

.right-sidebar {
  margin: 0 auto;
}

.left-sidebar {
  padding: 0 30px 0 0;
}

.left-sidebar .widget h3,
.left-sidebar .widget .widget-content {
  padding-right: 20px;
}

aside .widget,
.widget {
  margin-bottom: 40px;
}

.widget .recent div {
  margin-bottom: 20px;
  display: inline-block;
}

.widget .recent div img {
  float: left;
  padding-right: 10px;
}

.widget .recent div h6 {
  font-size: 14px;
  font-weight: 500;
}

.widget .tags {
  margin: 0;
  margin-left: 0;
  padding-left: 0;
}

.widget .tags div {
  margin: 5px 5px 15px 0;
  display: inline-block;
}

.widget .tags div a {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  text-align: center;
}

.widget .tags div a:hover {
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 1);
}

/* Blog & article end */

/* Blog comment */
#blog-comment {
  margin: 0;
  padding: 0px;
}

#blog-comment h5 {
  font-size: 13pt;
  margin-bottom: 10px;
}

#blog-comment ul,
#blog-comment li {
  list-style: none;
  padding-left: 0;
}

#blog-comment li {
  min-height: 70px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

#blog-comment li .avatar {
  position: absolute;
  margin-top: 5px;
}

#blog-comment .comment {
  margin-left: 85px;
}

#blog-comment li {
  min-height: 70px;
  font-size: 14px;
  line-height: 1.6em;
}

#blog-comment li li {
  margin-left: 80px;
  padding-bottom: 0px;
  margin-top: 20px;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  padding-top: 10px;
  border-bottom: none;
}

#blog-comment li li .avatar {
  position: absolute;
}

#blog-comment li li .comment {}

.comment-info {
  margin-left: 85px;
  margin-bottom: 5px;
}

.comment-info span {}

.comment-info .c-name {
  display: block;
  font-weight: 500;
}

.comment-info .c-reply {
  padding-left: 10px;
  margin-left: 10px;
  border-left: solid 1px rgba(255, 255, 255, 0.1);
}

.comment-info .c-reply a {
  font-size: 11pt;
}

.comment-info .c-date {
  font-size: 10pt;
}

.blog-list h3,
.blog-read h3 {
  color: #333;
}

/* comment form */
#comment-form-wrapper {
  margin: 50px 0 50px 0;
  padding: 0px;
}

#commentform input {
  width: 100%;
  font-size: 10pt;
  font-weight: 400;
  padding: 10px;
  height: 40px;
  background: rgba(23, 36, 52, 0.3);
  border: none;
}

#commentform input:focus {
  background: rgba(23, 36, 52, 0.4);
}

#commentform textarea {
  width: 100%;
  font-size: 10pt;
  font-weight: 400;
  padding: 10px;
  height: 150px;
  background: rgba(23, 36, 52, 0.3);
  border: none;
}

#commentform textarea:focus {
  background: rgba(23, 36, 52, 0.4);
}

#commentform button.btn {
  padding: 10px 20px 10px 20px;
  border: 1px solid rgba(23, 36, 52, 0.1);
  background: rgba(23, 36, 52, 0);
}

#commentform button.btn:hover {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  background: #111;
}

/* Blog comment end */

/*
  Owl Carousel 
*/
.owl-theme .owl-controls .owl-buttons div {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none;
}

/* owl slider home */
#owl-slider-home .item {
  display: block;
  width: 100%;
}

#owl-slider-home .item {
  width: 100%;
  height: 100%;
  min-height: 788px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#bar {
  width: 0%;
  max-width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

#progressBar {
  width: 100%;
  background: #ccc;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

#owl-gal .item {
  display: block;
  padding: 15px 0px;
  margin: 0 auto;
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  padding: 10px 17px;
  background: rgba(0, 0, 0, 1);
}

.owl-theme .owl-buttons i {
  margin-top: 2px;
  font-size: 12pt;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  z-index: 9;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0px;
  top: 40%;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0px;
  top: 40%;
}

.owl-item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

#owl-gal .item {
  display: block;
  padding: 15px 0px;
  margin: 0 auto;
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  padding: 10px 17px;
  background: rgba(0, 0, 0, 1);
}

.owl-theme .owl-buttons i {
  margin-top: 5px;
  font-size: 13pt;
  font-weight: 300;
}

.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  z-index: 9;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -10px;
  top: 40%;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -10px;
  top: 40%;
}

.owl-item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

/* Magnific Popup CSS */
.mfp-bg,
.mfp-wrap {
  position: fixed;
  left: 0;
  top: 0
}

.mfp-bg,
.mfp-container,
.mfp-wrap {
  height: 100%;
  width: 100%
}

.mfp-container:before,
.mfp-figure:after {
  content: ''
}

.mfp-bg {
  z-index: 1042;
  overflow: hidden;
  background: #0b0b0b;
  opacity: .8;
  filter: alpha(opacity=80)
}

.mfp-wrap {
  z-index: 1043;
  outline: 0 !important;
  -webkit-backface-visibility: hidden
}

.mfp-container {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.mfp-container:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle
}

.mfp-align-top .mfp-container:before {
  display: none
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045
}

.mfp-ajax-holder .mfp-content,
.mfp-inline-holder .mfp-content {
  width: 100%;
  cursor: auto
}

.mfp-ajax-cur {
  cursor: progress
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in
}

.mfp-auto-cursor .mfp-content {
  cursor: auto
}

.mfp-arrow,
.mfp-close,
.mfp-counter,
.mfp-preloader {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.mfp-loading.mfp-figure {
  display: none
}

.mfp-hide {
  display: none !important
}

.mfp-preloader {
  color: #ccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -.8em;
  left: 8px;
  right: 8px;
  z-index: 1044
}

.mfp-preloader a {
  color: #ccc
}

.mfp-close,
.mfp-preloader a:hover {
  color: #efefef
}

.mfp-s-error .mfp-content,
.mfp-s-ready .mfp-preloader {
  display: none
}

button.mfp-arrow,
button.mfp-close {
  overflow: visible;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: 0;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none
}

.mfp-figure:after,
.mfp-iframe-scaler iframe {
  box-shadow: 0 0 8px rgba(23, 36, 52, .6);
  position: absolute;
  left: 0
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: .65;
  padding: 0 0 18px 10px;
  font-style: normal;
  font-size: 38px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:focus,
.mfp-close:hover {
  opacity: 1;
}

.mfp-close:active {
  top: 1px
}

.mfp-close-btn-in .mfp-close {
  color: #efefef
}

.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close {
  color: #efefef;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #efefef;
  font-size: 12px;
  line-height: 18px
}

.mfp-figure,
img.mfp-img {
  line-height: 0
}

.mfp-arrow {
  position: absolute;
  opacity: .65;
  margin: -55px 0 0;
  top: 50%;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent
}

.mfp-arrow:active {
  margin-top: -54px
}

.mfp-arrow:focus,
.mfp-arrow:hover {
  opacity: 1
}

.mfp-arrow .mfp-a,
.mfp-arrow .mfp-b,
.mfp-arrow:after,
.mfp-arrow:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: inset transparent
}

.mfp-arrow .mfp-a,
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px
}

.mfp-arrow .mfp-b,
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px
}

.mfp-arrow-left {
  left: 0
}

.mfp-arrow-left .mfp-a,
.mfp-arrow-left:after {
  border-right: 17px solid #efefef;
  margin-left: 31px
}

.mfp-arrow-left .mfp-b,
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f
}

.mfp-arrow-right {
  right: 0
}

.mfp-arrow-right .mfp-a,
.mfp-arrow-right:after {
  border-left: 17px solid #efefef;
  margin-left: 39px
}

.mfp-arrow-right .mfp-b,
.mfp-arrow-right:before {
  border-left: 27px solid #3f3f3f
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px
}

.mfp-image-holder .mfp-content,
img.mfp-img {
  max-width: 100%
}

.mfp-iframe-holder .mfp-close {
  top: -40px
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%
}

.mfp-iframe-scaler iframe {
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  background: #efefef
}

.mfp-figure:after,
img.mfp-img {
  width: auto;
  height: auto;
  display: block
}

img.mfp-img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0;
  margin: 0 auto
}

.mfp-figure:after {
  top: 40px;
  bottom: 40px;
  right: 0;
  z-index: -1;
  background: #444
}

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px
}

.mfp-figure figure {
  margin: 0
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer
}

@media screen and (max-width:800px) and (orientation:landscape),
screen and (max-height:300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0
  }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px
  }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(23, 36, 52, .6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0
  }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px
  }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(23, 36, 52, .6);
    position: fixed;
    text-align: center;
    padding: 0
  }
}

@media all and (max-width:900px) {
  .mfp-arrow {
    -webkit-transform: scale(.75);
    transform: scale(.75)
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px
  }
}

.mfp-ie7 .mfp-img {
  padding: 0
}

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px
}

.mfp-ie7 .mfp-container {
  padding: 0
}

.mfp-ie7 .mfp-content {
  padding-top: 44px
}

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

.image-source-link {
  color: #98C3D1
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: .8
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0
}

/* end Magnific Popup CSS */

/* general popup */
.white-popup-block {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.gray-popup-block {
  max-width: 900px;
  margin: 0 auto;
  background: #22252f;
  padding: 40px;
  text-align: center;
}

.gray-popup-block h3 {
  font-size: 34pt;
  font-weight: 300;
  line-height: normal;
  letter-spacing: normal;
}

.gray-popup-block p {
  font-size: 11pt;
  font-weight: 300;
  line-height: normal;
  letter-spacing: normal;
}

html {
  margin-right: 0 !important;
  overflow: visible !important;
}

#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}


.address {
  font-size: 10px;
  line-height: 1.2;
}

.description {
  text-align: center;
  font-size: 10px;
  line-height: 1;
}

.social-menu {
  display: flex;
  justify-content: center;
}

.social-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  /* untuk memastikan gambar tetap di dalam lingkaran */
  transition: background-color 0.3s;
}

.social-icon img {
  width: 100%;
  /* untuk memastikan gambar mengisi seluruh ruang di dalam .social-icon */
  height: auto;
  /* agar proporsi gambar tetap terjaga */
}

.social-icon:hover {
  opacity: 0.5;
}

.scrollable-text {
  max-height: 340px;
  /* Ubah sesuai kebutuhan */
  overflow-y: auto;
  /* Membuat scrollbar vertikal muncul ketika konten melebihi ketinggian maksimum */
}